@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],	
  authenticated:Boolean,
  airlines:Seq[Airline])
  
@import helper.form 
@import bootstrap3._

@main(title = "Admin-Airlines", authenticated, loginForm) { 
<div class="container">
	<table class="table table-striped">
  		<thead>
  			<tr>
  				<th>Name</th>
  				<th>URL</th>
  				<th></th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
		@for(airline <- airlines) {
			<tr>
				<td>@airline.name</td>
				<td>@airline.apiUrl</td>
				<td>
					<a class="glyphicon glyphicon-edit" href="/admin/airline?id=@airline.id"></a>
				</td>
				<td>
					<a class="glyphicon glyphicon-remove" href="#"></a>
				</td>
			</tr>
		}
			<tr>
				<td><a class="glyphicon glyphicon-plus" href="/admin/airline"></a></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
  		</tbody>
	</table>
</div>
}
