@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],	
  authenticated:Option[Tuple2[String,String]],
  flights:Seq[Tuple3[models.ext.ExtFlight,Location,Location]])
  
@import helper.form 
@import bootstrap3._
@import views.formdata.Commons._
@import db.Euro

@main(title = "Admin-Flüge", authenticated, Some(loginForm)) { 
<div class="container">
<div class="jumbotron_original">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
		  		<thead>
		  			<tr>
		  				<th>Airline</th>
		  				<th>Von</th>
		  				<th>Nach</th>
		  				<th>Zeitpunkt</th>
		  				<th>Sitze</th>
		  				<th>Preis Airline</th>
		  				<th>Preis Euro</th>
		  			</tr>
		  		</thead>
		  		<tbody>
				@for(flight <- flights) {
					<tr>
						<td>@flight._1.airlineName</td>
						<td>@(flight._2.fullName) (@flight._2.iataCode)</td>
						<td>@(flight._3.fullName) (@flight._3.iataCode)</td>
						<td>@uiDTF.print(flight._1.dateTime)</td>
						<td>@flight._1.availableSeats</td>
						<td>@flight._1.price @flight._1.currency</td>
						<td>@convert(flight._1.price, flight._1.currency, Euro) Euro</td>
					</tr>
				}
		  		</tbody>
			</table>
		</div>
	</div>
</div>
</div>
}
