@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],	
  authenticated:Option[Tuple2[String,String]],
  hotelgroupForm:Form[views.formdata.AdminHotelgroupFormData])
  
@import helper.form 
@import bootstrap3._

@main(title = "Admin-Hotelgroups", authenticated, Some(loginForm)) { 
<div class="container">
	<div class="col-md-4">
		@form(routes.Admin.hotelgroupPost, 'class -> "form-horizontal") {
			@hidden(hotelgroupForm("id")),
			@text(hotelgroupForm("name"),
				label = "Name")
			@text(hotelgroupForm("apiURL"),
				label = "URL")
			<div class="form-group">
		    	<button type="submit" class="btn btn-success">@if(hotelgroupForm("id").value.isEmpty) { Anlegen } else { Übernehmen}</button>
		    	<a class="btn btn-info" href="@routes.Admin.hotelgroups">Abbrechen</a>
		  	</div>
		}
	</div>
</div>
}
