@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],	
  authenticated:Option[Tuple2[String,String]],
  hotels:Seq[Tuple2[models.ext.ExtHotel,Location]])
  
@import helper.form 
@import bootstrap3._
@import views.formdata.Commons._
@import db.Euro

@main(title = "Admin-Hotels", authenticated, Some(loginForm)) { 
<div class="container">
	<table class="table table-striped">
  		<thead>
  			<tr>
  				<th>Name</th>
  				<th>Ort</th>
  				<th>Von</th>
  				<th>Bis</th>
  				<th>Zimmer</th>
  				<th>Preis Hotelbetreiber</th>
  				<th>Preis Euro</th>
  			</tr>
  		</thead>
  		<tbody>
		@for(hotel <- hotels) {
			<tr>
				<td>@hotel._1.hotelName</td>
				<td>@(hotel._2.fullName) (@hotel._2.iataCode)</td>
				<td>@uiDF.print(hotel._1.startDate)</td>
				<td>@uiDF.print(hotel._1.endDate)</td>
				<td>@hotel._1.availableRooms</td>
				<td>@hotel._1.price @hotel._1.currency</td>
				<td>@convert(hotel._1.price, hotel._1.currency, Euro) Euro</td>
			</tr>
		}
  		</tbody>
	</table>
</div>
}
