@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],	
  authenticated:Option[String],
  productForm:Form[views.formdata.AdminProductFormData])
  
@import helper.form 
@import bootstrap3._

@main(title = "Admin-Product", authenticated, loginForm) { 
<div class="container">
	<div class="col-md-4">
		@form(routes.Admin.productPost, 'class -> "form-horizontal") {
			@hidden(productForm("id")),
			@text(productForm("from"),
				label = "Von")
			@text(productForm("to"),
				label = "Nach")
			@checkbox(productForm("archived"),
				label = "Archiviert")
			<div class="form-group">
		    	<button type="submit" class="btn btn-success">@if(productForm("id").value.isEmpty) { Anlegen } else { Übernehmen}</button>
		    	<a class="btn btn-info" href="@routes.Admin.products">Abbrechen</a>
		  	</div>
		}
	</div>
</div>
}
