@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],	
  authenticated:Option[Tuple2[String,String]],
  productForm:Form[views.formdata.AdminProductFormData],
  froms:Map[String,Boolean],
  tos:Map[String,Boolean]
  )
  
@import helper.form 
@import bootstrap3._

@main(title = "Admin-Product", authenticated, Some(loginForm)) { 
<div class="container">
<div class="jumbotron_original">
	<div class="row">
			@for(arg <- productForm.errors.flatMap(_.args)) { <div class="alert alert-danger">@arg</div> }
			@form(routes.Admin.productPost, 'class -> "form-horizontal") {
				@hidden(productForm("id")),
				@select(productForm("from"), "Von", froms, false)
				@select(productForm("to"), "Nach", tos, false)
				@checkbox(productForm("archived"), "Archiviert")
				<div class="form-group">
			    	<button type="submit" class="btn btn-success">@if(productForm("id").value.isEmpty) { Anlegen } else { Übernehmen}</button>
			    	<a class="btn btn-info" href="@routes.Admin.products">Abbrechen</a>
			  	</div>
			}
	</div>
</div>
</div>
}
