<div data-ng-show="msg">
	<h2>{{msg}}</h2>
</div>

<div data-ng-hide="msg">
	<ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li>Admin<span class="divider">/</span></li>
		<li><a href="/admin/spieler/{{person.memberships[0]}}">Spieler {{person.memberships[0]}}</a><span class="divider">/</span></li>
		<li class="active">{{person.firstname}} {{person.lastname}}</li>
	</ul>
	<form name="form" class="form-horizontal">
		<fieldset>
			<legend>Person</legend>
				<div class="control-group">
    				<label class="control-label" for="firstname">Vorname</label>
    				<div class="controls">
			            <input name="firstname" type="text" data-ng-model="person.firstname" required> 
			            <i class="icon-thumbs-down" data-ng-show="form.firstname.$invalid"></i>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="lastname">Nachname</label>
    				<div class="controls">
			            <input name="lastname" type="text" data-ng-model="person.lastname" required> 
			            <i class="icon-thumbs-down" data-ng-show="form.lastname.$invalid"></i>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="mail">E-Mail</label>
    				<div class="controls">
    					<!-- TODO required -->
			            <input name="mail" type="text" data-ng-model="person.email"> 
			            <i class="icon-thumbs-down" data-ng-show="form.mail.$invalid"></i>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="birthdate">Geburtsdatum</label>
    				<div class="controls">
						<input id="birthdate" class="input-small" type="text" data-ng-model="person.birthdayDate" data-date-format="dd.mm.yyyy" data-bs-datepicker>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="phone">Telefonnummer</label>
    				<div class="controls">
			            <input id="phone" type="tel" data-ng-model="person.phone">
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="roles">Berechtigung(en)</label>
    				<div class="controls">
			            <select id="roles" data-ng-model="person.roles" multiple data-ng-options="value.id as value.name for (key, value) in roles" data-style="btn" data-bs-select></select>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label">Passwort</label>
    				<div class="controls">
			            <button data-ng-click="resetPassword(person)" data-ng-show="person.id" class="btn btn-danger">Zurücksetzen</button>
    				</div>
				</div>
			<legend>Spieler</legend>
            <!-- <div data-ng-show="person.player"> -->
				<div class="control-group">
    				<label class="control-label" for="teams">Team(s)</label>
    				<div class="controls">
			            <select name="teams" data-ng-model="person.memberships" multiple data-ng-options="value.id as value.name for (key, value) in teams" data-style="btn" data-bs-select required></select>
			            <i class="icon-thumbs-down" data-ng-show="form.teams.$invalid"></i>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="position">Position</label>
    				<div class="controls">
			            <input id="position" type="text" data-ng-model="person.player.position"> 
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="alias">Alias</label>
    				<div class="controls">
			            <input id="alias" type="text" data-ng-model="person.player.alias"> 
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="membersince">Mitglied seit</label>
    				<div class="controls">
						<input id="membersince" class="input-small" type="text" data-ng-model="person.player.joiningDate" data-date-format="dd.mm.yyyy" data-bs-datepicker>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="hofgames">Hall-Of-Fame Spiele</label>
    				<div class="controls">
			            <input name="hofgames" type="number" data-ng-model="person.player.hofgames" required> 
			            <i class="icon-thumbs-down" data-ng-show="form.hofgames.$invalid"></i>
    				</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="hofgoals">Hall-Of-Fame Tore</label>
    				<div class="controls">
			            <input name="hofgoals" type="number" data-ng-model="person.player.hofgoals" required>
			            <i class="icon-thumbs-down" data-ng-show="form.hofgoals.$invalid"></i>
    				</div>
				</div>
            <!-- </div> -->
            <button data-ng-click="makePlayer(person)" data-ng-hide="person.player" class="btn">Upgrade zum Spieler</button>
			<h4>Eltern</h4>
            <div class="well">
				<label>Kinder</label>
				<span>{{children}}</span>
				<input type="text" data-ng-model="selectChildren" data-bs-typeahead="selectChildrens">
            </div>
            <hr>
			<div class="control-group">
    			<label class="control-label" for="buttons"></label>
    			<div class="controls">
					<button data-ng-click="remove(person)" data-ng-show="person.id" class="btn btn-danger">Löschen</button>
					<button data-ng-click="update(person)" data-ng-show="person.id" class="btn btn-primary" data-ng-disabled="form.$invalid">Speichern</button>
					<button data-ng-click="create(person)" data-ng-hide="person.id" class="btn btn-primary" data-ng-disabled="form.$invalid">Anlegen</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>