<ul class="breadcrumb">
	<li><a href="/">Home</a> <span class="divider">/</span></li>
	<li>Admin<span class="divider">/</span></li>
	<li class="active">Spieler</li>
</ul>
<a href="/admin/spieler" class="btn btn-small" data-ng-class="{'btn-primary': !team}" type="button">Alle</a>
<span data-ng-repeat='t in teams'>
	<a href="/admin/spieler/{{t.id}}" class="btn btn-small" data-ng-class="{'btn-primary': team == t.id}" type="button">{{t.id}}</a>
</span>
<a href="/admin/spieler/Inaktiv" class="btn btn-small" data-ng-class="{'btn-primary': team == 'Inaktiv'}" type="button">Inaktiv</a>
<a href="/admin/personen/neu" class="btn btn-small" type="button"><i class="icon-plus"></i></a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Vorname</th>
			<th>Nachname</th>
			<th>geboren am</th>
			<th>Teams</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat='player in players'>
			<td>{{player.firstname}}</td>
			<td>{{player.lastname}}</td>
			<td>{{player.birthday | date:'dd.MM.yyyy'}}</td>
			<td><span data-ng-repeat='membership in player.memberships'>{{membership}} </span></td>
			<td><a class="btn" href="/admin/personen/{{player.id}}"><i class="icon-edit"></i></a></td>
		</tr>
	</tbody>
</table>
