@(journey:controllers.Journey)

@import views.formdata.Commons._
<div class="well">
	<h3>Ihre Reise</h3>
	<table class="table">
		<tbody>
			<tr>
				<th>Hinflug</th>
				<td>@iataFullname(journey.outward.from) - @iataFullname(journey.outward.to) am @uiDTF.print(journey.outward.dateTime)</td>
			</tr>
			<tr>
				<th rowspan="2">Hotel</th>
				<td>@journey.hotel.name in @iataFullname(journey.hotel.location)</td>
			</tr>
			<tr>
				<td>Vom @uiDF.print(journey.hotel.startDate) bis zum @uiDF.print(journey.hotel.endDate)</td>
			</tr>
			<tr>
				<th>Rückflug</th>
				<td>@iataFullname(journey.inward.from) - @iataFullname(journey.inward.to) am @uiDTF.print(journey.inward.dateTime)</td>
			</tr>
		</tbody>
	</table>
</div>
