@(journey:controllers.Journey)

@import views.formdata.Commons._
<div class="well">
	<h3>Ihre Reise</h3>
	<h4>Hinflug</h4>
	Von @iataFullname(journey.outward.from) nach @iataFullname(journey.outward.to) am @uiDTF.print(journey.outward.dateTime)
	<h4>Hotel</h4>
	Hotel @journey.hotel.name in @iataFullname(journey.hotel.location) vom @uiDF.print(journey.hotel.startDate) bis zum @uiDF.print(journey.hotel.endDate) 
	<h4>Rückflug</h4>
	Von @iataFullname(journey.inward.from) nach @iataFullname(journey.outward.to) am @uiDTF.print(journey.outward.dateTime)
</div>
