<form name="form" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="username">Benutzername</label>
		<div class="controls">
           <input type="text" id="username" data-ng-model="username" placeholder="vorname.nachname" required> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Passwort</label>
		<div class="controls">
           <input type="password" id="password" data-ng-model="password" placeholder="Passwort" required> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="rememberme">Angemeldet bleiben</label>
		<div class="controls">
			<input type="checkbox" data-ng-model="rememberme">
		</div>
	</div>
	<div data-ng-show="form.$invalid">
		Geben sie den Benuzternamen und das Passwort ein um sich anzumelden.
    </div>	
	<!-- 
	<label class="checkbox">
	</label>
	 -->
	<div class="control-group">
		<label class="control-label"></label>
		<div class="controls">
			<button class="btn btn-primary" type="submit" data-ng-click="login(username,password,rememberme)" data-ng-disabled="form.$invalid">Anmelden</button>
		</div>
	</div>
</form>