<a href="/halloffame/gold" class="btn btn-small" data-ng-class="{'btn-primary': level == 'gold'}" type="button">Gold</a>
<a href="/halloffame/silber" class="btn btn-small" data-ng-class="{'btn-primary': level == 'silber'}" type="button">Silber</a>
<a href="/halloffame/bronze" class="btn btn-small" data-ng-class="{'btn-primary': level == 'bronze'}" type="button">Bronze</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Spiele</th>
			<th>Tore</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat='person in persons'>
			<td>{{person.firstname}} {{person.lastname}}</td>
			<td>{{person.hofgames}}</td>
			<td>{{person.hofgoals}}</td>
		</tr>
	</tbody>
</table>