@(loginForm: Form[views.formdata.LoginFormData], authenticated:Option[Tuple2[String,String]], order:Option[models.Order], journey:Option[controllers.Journey], customer:Customer)

@import views.formdata.Commons._
@import subtemplates._

@main(title = "Booking", authenticated, Some(loginForm)) {
<div class="container">
	@if(journey.isEmpty || order.isEmpty) {
		<div class="alert alert-warning">Leider steht das Angebot nicht mehr zur Verfügung.</div>
		<a class="btn btn-primary btn-lg" role="button" href="javascript:history.back()">Verfügbare Reisen anzeigen &raquo;</a>	
	} else {	
	<div class="row">
		<div class="col-md-4">
			<img src="/assets/images/12fly.jpg">
	      	</div>
	    <div class="col-md-8 hoteldesc">
		<h2>Wir gratulieren zum baldigen Urlaub!</h2>
		@bookingsummary(journey.get)
		<div class="well">
			<h3>Buchungsdetails</h3>
			<table>
				<tbody>
					<tr>
						<td>Person</td>
						<td>@customer.firstName @customer.lastName</td>
					</tr>
					<tr>
						<td>Erwachsene</td>
						<td>@journey.get.adults</td>
					</tr>
					<tr>
						<td>Kinder</td>
						<td>@journey.get.children</td>
					</tr>
					<tr>
						<td>Preis</td>
						<td>@journey.get.price €</td>
					</tr>
					<tr>
						<td rowspan="2">Kreditkarte</td>
						<td>@customer.creditCardCompany </td>
					</tr>
					<tr>
						<td>@customer.creditCardNumber.dropRight(4).sliding(4,4).mkString("-")-****</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div class="well">
			<h3>Wichtige Informationen</h3>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
		<p><a class="btn btn-primary btn-lg" role="button" href="@routes.Application.search()">Weitere Angebote entdecken! &raquo;</a></p>
		</div>
	</div>
	}
	}
</div>
