@(loginForm: Form[views.formdata.LoginFormData], authenticated:Option[Tuple2[String,String]], order:Option[models.Order], journey:Option[controllers.Journey], customer:Customer)

@import views.formdata.Commons._
@import subtemplates._

@main(title = "Booking", authenticated, Some(loginForm)) {
<div class="container">
	@if(journey.isEmpty || order.isEmpty) {
		<div class="alert alert-warning">Leider steht das Angebot nicht mehr zur Verfügung.</div>
		<a class="btn btn-primary btn-lg" role="button" href="javascript:history.back()">Verfügbare Reisen anzeigen &raquo;</a>	
	} else {	
	<div class="row centered">
		<hr>
		<h3>RV Reisen gratuliert zum baldigen Urlaub!</h3>
		<hr>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="/assets/images/12fly.jpg">
	    </div>
	    <div class="col-md-8 hoteldesc">
		@bookingsummary(journey.get)
		<div class="well">
			<h3>Buchungsdetails</h3>
			<table class="table">
				<tbody>
					<tr>
						<th>Person</th>
						<td>@customer.firstName @customer.lastName</td>
					</tr>
					<tr>
						<th>Erwachsene</th>
						<td>@journey.get.adults</td>
					</tr>
					<tr>
						<th>Kinder</th>
						<td>@journey.get.children</td>
					</tr>
					<tr>
						<th>Preis</th>
						<td>@journey.get.price €</td>
					</tr>
					<tr>
						<th rowspan="2">Kreditkarte</th>
						<td>@customer.creditCardCompany </td>
					</tr>
					<tr>
						<td>@customer.creditCardNumber.dropRight(4).sliding(4,4).mkString("-")-****</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<p><a class="btn btn-primary btn-lg" role="button" href="@routes.Application.search()">Weitere Angebote entdecken! &raquo;</a></p>
		</div>
	</div>
	}
	}
</div>
