@(loginForm: Form[views.formdata.LoginFormData], hotelJourneys:Map[json.HotelJson,Seq[controllers.Journey]], authenticated:Option[String])
@import views.formdata.Commons._
@main(title = "List", authenticated, loginForm) {
<div class="container">
@if(hotelJourneys.isEmpty) {
	<div class="alert alert-warning">Leider konnten keine Angebote für ihre Suchkriterien gefunden werden.</div>
	<a class="btn btn-primary btn-lg" role="button" href="javascript:history.back()">Suchkriterien überarbeiten &raquo;</a>	
} else {	 
	<form method="post">
	@for((hotel,journeys) <- hotelJourneys) {
		
		<div class="row hotelentry">
			<div class="col-md-4">
				<img src="/assets/images/hotel1.jpg">
        	</div>
        <div class="col-md-8 hoteldesc">
          	<p>@for(i <- 1 to hotel.category) { <span class="glyphicon glyphicon-star"></span>}</p>
          	<h3>@hotel.name (@hotel.location)</h3>
          	<div class="well">@hotel.description</div>
       		<table>
       			<thead>
        			<tr>
	         			<th colspan="2">Hinflug</th>
	         			<th colspan="2">Rückflug</th>
	         			<th>Preis</th>
	         			<th></th>
        			</tr>
       			</thead>
       			<tbody>
	          	@for(journey <- journeys.sortBy(_.price)) {
	          		<tr>
			          	<td>@uiDTF.print(journey.outward.dateTime)</td>
			          	<td>@journey.outward.airline</td>
			          	<td>@uiDTF.print(journey.inward.dateTime)</td>
			          	<td>@journey.inward.airline</td>
			          	<td>@journey.price €</td>
						<td><button type="submit" formaction="@routes.Application.booking(journey.hashCode)" class="btn btn-default">Buchen &raquo;</button></td>
		          	<tr>
	          	}
       			</tbody>
       		</table>
        	</div>
       	</div>
	}
	</form>
}
</div>
}

