@(loginForm: Form[views.formdata.LoginFormData], journeys:Seq[controllers.Journey], authenticated:Option[String])
@import views.formdata.Commons._
@main(title = "List", authenticated, loginForm) {
<div class="container">
@if(journeys.isEmpty) {
	<div class="alert alert-warning">Leider konnten keine Angebote für ihre Suchkriterien gefunden werden.</div>
	<a class="btn btn-primary btn-lg" role="button" href="javascript:history.back()">Suchkriterien überarbeiten &raquo;</a>	
} else {	 
	<form method="post">
	@for(journey <- journeys) {
		<div class="row hotelentry">
			<div class="col-md-4">
				<img src="/assets/images/hotel1.jpg">
        	</div>
        <div class="col-md-8 hoteldesc">
          	<h2>@journey.hotel.name (@journey.hotel.location)</h2>
          	<p>@for(i <- 1 to journey.hotel.category) { <span class="glyphicon glyphicon-star"></span>}</p>
          	<p>@journey.price Euro</p>
          	<p>@uiDateTimeFormat.print(journey.outward.dateTime) (@journey.outward.airline) - @uiDateTimeFormat.print(journey.inward.dateTime)  (@journey.inward.airline)</p>
          	<p>@journey.hotel.description</p>
          	<p>
				<button type="submit" formaction="@routes.Application.booking(journey.from, journey.to, dateFormat.print(journey.startDate), dateFormat.print(journey.endDate), journey.outward.links.head.href, journey.outward.airline, journey.outward.id, journey.inward.links.head.href, journey.inward.airline, journey.inward.id, journey.hotel.links.head.href, journey.hotel.name, journey.hotel.id, journey.adults, journey.children, journey.price)" class="btn btn-default">Buchen &raquo;</button>
          	</p>
        	</div>
       	</div>
	}
	</form>
}
</div>
}

