@(authenticated:Option[String],
  loginForm:Form[views.formdata.LoginFormData],	
  customerForm:Form[views.formdata.RegistrationFormData],
  sexes:Map[String,Boolean],
  creditCardCompanies:Map[String,Boolean],
  journey:controllers.Journey,
  loginFailed:Boolean
  )
  
@import helper.form 
@import bootstrap3._
@import subtemplates._

@main(title = "Login/Registration", authenticated, None) { 
<div class="container">
	<div class="row">
		@bookingsummary(journey)	
	</div>
	<div class="row">
		<div class="col-md-4">
			@form(routes.Application.loginBooking(journey.hashCode), 'class -> "form-horizontal") {
	            <div class="form-group">
	           		@text(loginForm("email"), label = "E-Mail")
	           		@text(loginForm("password"), label = "Passwort")
		            <button type="submit" class="btn btn-success btn-sm">Anmelden & Buchen</button>
			    	<a class="btn btn-info" href="@routes.Application.index()">Abbrechen</a>
	            </div>
	        }
		</div>
		<div class="col-md-4">
			@form(routes.Application.registrationBooking(journey.hashCode), 'class -> "form-horizontal") {
				<div class="form-group">
					@registrationfields(customerForm,sexes,creditCardCompanies)
			    	<button type="submit" class="btn btn-success">Registrieren & Buchen</button>
			    	<a class="btn btn-info" href="@routes.Application.index()">Abbrechen</a>
			  	</div>
			}
		</div>
	</div>
</div>
}
