@(authenticated:Option[Tuple2[String,String]],
  customerForm:Form[views.formdata.RegistrationFormData],
  sexes:Map[String,Boolean],
  creditCardCompanies:Map[String,Boolean]
  )
  
@import helper.form 
@import bootstrap3._
@import subtemplates._

@main(title = "Registration", authenticated, None) {
<div class="container">
	<div class="textShadowSingle">
				<h2><font color="green">Registrieren</font></h2>
	</div>
</div>
<div class="container">
	<div class="jumbotron_original_rotate_left">
		<div class="jumbotron_original_rotate_right">
			@form(routes.Application.registrationPost(), 'class -> "form-horizontal") {
				@registrationfields(customerForm,sexes,creditCardCompanies)
				<div class="form-group">
		    		<button type="submit" class="btn btn-success">Registrieren</button>
		    		<a class="btn btn-info" href="@routes.Application.index()">Abbrechen</a>
		  		</div>
			}
		</div>
	</div>
</div>
}
