@* search Template File *@
@(loginForm: Form[views.formdata.LoginFormData],
  searchForm: Form[views.formdata.SearchFormData],
  from:scala.collection.immutable.Map[String,Boolean],	
  to:scala.collection.immutable.Map[String,Boolean],
  persons:scala.collection.immutable.Map[String,Boolean], 
  category:scala.collection.immutable.Map[String,Boolean],
  authenticated:Option[Tuple2[String,String]],
  loginFailed:Boolean)
  
@import helper.form 
@import bootstrap3._

@main(title = "Search", authenticated, Some(loginForm)) { 

@if(loginFailed) {
<div class="container">
	<div class="alert alert-warning">Leider konnte ich sie nicht einloggen</div>
</div>
}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Traumreise finden</h1>
		<p>Nur noch ein paar Klicks...</p>
	</div>
</div>

<div class="container">
	@searchForm.globalError.map { error =>
	<div class="row"> 
		<div class="alert alert-danger">@error.message</div>
	</div> 
	}
	@form(routes.Application.searchPost(), 'class -> "form-vertical") {
	<hr/>
    <div class="row">
        <div class="col-md-4">
		@select(searchForm("from"), label = "Abflughafen", optionMap = from, isMultiple = false)
		@select(searchForm("to"), label = "Reiseziel", optionMap = to, isMultiple = false)
    	</div>
        <div class="col-md-4">
        		@date(searchForm("start"), label="Hinreise")
  	      	@date(searchForm("end"), label="Rückreise")
    	</div>
        <div class="col-md-4">
		@select(searchForm("adults"), label = "Erwachsene", optionMap = persons, isMultiple = false)
		@select(searchForm("children"), label = "Kinder", optionMap = persons, isMultiple = false)
		@select(searchForm("category"), label = "Kategorie", optionMap = category, isMultiple = false)
    	</div>
	</div>
	<hr/>
    <div class="row">
    	<div class="centered">
   			<button type="submit" class="btn btn-success btn-lg">Suchen &raquo;</button>
   		</div>
  	</div>
    }
</div>
}
