@(authenticated:Option[Tuple2[String,String]],
  customerForm:Form[views.formdata.RegistrationFormData],
  sexes:Map[String,Boolean],
  creditCardCompanies:Map[String,Boolean]
  )
  
@import helper.form 
@import bootstrap3._
@import subtemplates._

@main(title = "Upload", authenticated, None) {
<div class="container">
	<div class="textShadowSingle">
				<h2><font color="green">Image Uploaden</font></h2>
	</div>
</div>
<div class="container">
	<div class="jumbotron_original_rotate_left">
		<div class="jumbotron_original_rotate_right">
		@form(action = routes.Application.uploadPost, 'enctype -> "multipart/form-data") {
     		<input type="file" name="picture">
		    	<p>
        			<button type="submit" class="btn btn-success">Uploaden</button>
   			 	</p>
    	}
		</div>
	</div>
</div>
}
